description = "Footer partial"
==
<footer id="tm-footer">
    <div class="pt120 pb80">
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-small">
                <div class="uk-child-width-1-3@m" uk-grid>
                    <div>
                        <h5 class="uk-h3">Informationen</h5>
                        <ul class="uk-list">
                            <li>
                                <a href="/unsere-allgemeinen-geschaftsbedingungen/">Unsere AGB&#039;s</a>
                            </li>
                            <li>
                                <a href="/impressum/">Impressum</a>
                            </li>
                            <li>
                                <a href="/datenschutz/">Datenschutz</a>
                            </li>
                            <li>
                                <a href="#" class="privacywire-show-options">Cookie-Einstellungen</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div itemscope itemtype="http://schema.org/LocalBusiness">
                            <h5 class="uk-h3">
                                <span itemprop="name">Ausstellung</span>
                            </h5>
                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <p>
                                    <span itemprop="streetAddress">Forstenrieder Allee 195</span>
                                    <br />
                                    <span itemprop="addressLocality">81476 München</span>
                                    <span itemprop="addressRegion" style="display:none;">DE</span>
                                </p>
                                <p>
                                    Telefon <span itemprop="telephone"><a href="tel:0049 89 689 21 77">+49 (0) 89 744 95 130</a></span>
                                    <br /> Telefax <span itemprop="faxNumber">+49 (0) 89 744 95 137</span>
                                </p>
                            </div>
                        </div>
                        <div itemscope itemtype="http://schema.org/Store">
                            <h5 class="uk-h4">Öffnungszeiten</h5>
                            <p>
                                <time itemprop="openingHours" datetime="Mo,We,Fr 13:00-18:00">
                                    Mo., Mi., Fr.: 13-00 - 18:00 Uhr<br />
                                </time>
                                <time itemprop="openingHours" datetime="Di,Do closed">
                                    Di., Do..: Geschlossen<br />
                                </time>
                                <time itemprop="openingHours" datetime="Sa 10:00-14:00">
                                    Sa.: 10:00 - 14:00 Uhr</time>
                            </p>
                            <p>
                                <strong>Um für Sie Wartezeiten zu vermeiden und um unsere Termine besser planen zu können, bitten wir um eine Terminvereinbarung unter 089- 689 21 77!</strong>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div itemscope itemtype="http://schema.org/LocalBusiness">
                            <h5 class="uk-h3">
                                <span itemprop="name">Büro</span>
                            </h5>
                            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <p>
                                    <span itemprop="streetAddress">Görzer Straße 144</span>
                                    <br />
                                    <span itemprop="addressLocality">81549 München</span>
                                    <span itemprop="addressRegion" style="display:none;">DE</span>
                                </p>
                                <p>
                                    Telefon <span itemprop="telephone"><a href="tel:0049896892177">+49 (0) 89 689 21 77</a></span>
                                    <br /> Telefax <span itemprop="faxNumber">+49 (0) 89 689 21 78</span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <h5 class="uk-h4">Öffnungszeiten</h5>
                            <p>
                                <time itemprop="openingHours" datetime="Mo,Tu,We,Th,Fr 8:00-18:00">
                                    Mo. - Fr.: 8-00 - 12:00 Uhr<br /> Mo. - Do.: 13:00 - 17:00 Uhr<br />
                                </time>
                            </p>
                            <p>
                                <strong>Freitag nachmittag und Samstag geschlossen. An gesetzlichen Feiertagen geschlossen.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-copyright">
        <img data-src="{{ 'assets/images/artparkett-lilie.svg'|theme }}" width="50" alt="Art Parkett Stelzl - Parkett- und Bodenleger aus München" uk-img>
        <h5>Art Parkett Stelzl</h5>
        <p class="uk-text-small">
            &copy; {{ 'now' | date('Y') }} - Art Parkett Stelzl. Alle Rechte vorbehalten. Design by <a href="https://mate-themes.com">MateThemes</a>.
        </p>
    </div>
</footer>
