description = "Header Partial"
==
{# header for small screens #}
<div class="tm-header-mobile uk-hidden@m">
    <div data-uk-sticky show-on-up animation="uk-animation-slide-top" cls-active="uk-navbar-sticky" sel-target=".uk-navbar-container">
        <nav class="uk-navbar-container uk-container" data-uk-navbar="mode: click">
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" href="#tmoffcanvas" data-uk-toggle>
                    <div data-uk-navbar-toggle-icon></div>
                </a>
            </div>
            <div class="uk-navbar-center">
                <a href="{{ '/'|page }}" class='uk-navbar-item uk-logo'>
                    <img src="{{ 'assets/images/artparkett-logo.svg'|theme }}" alt="Parkett Stelzl" width="180" height="50" data-uk-img>
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a data-uk-icon="icon: world"></a>
                        <div data-uk-dropdown="mode: click">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class='uk-active'>
                                    <a class='lang-item Deutsch' hreflang='de' href='/'>Deutsch</a>
                                </li>
                                <li class='no-current'>
                                    <a class='lang-item Englisch' hreflang='en' href='/en/'>Englisch</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="tmoffcanvas" data-uk-offcanvas="mode: push; overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">

            <button class="uk-offcanvas-close uk-close-large" type="button" uk-close uk-toggle="cls: uk-close-large; mode: media; media: @s"></button>

            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical" uk-nav>
                <li {% if this.page.id == 'home' %}class="uk-active"{% endif %}>
                    <a href="{{ 'home'|page }}">Home</a>
                </li>
                <li class="uk-parent">
                    <a href="#">Service <span uk-nav-parent-icon></span></a>
                    <ul class="uk-nav-sub">
                        <li {% if this.page.id == 'fussboden-verlegen-vom-fachmann' %}class="uk-active"{% endif %}>
                            <a href="{{ 'fussboden-verlegen-vom-fachmann'|page }}">Fußboden verlegen vom Fachmann</a>
                        </li>
                        <li {% if this.page.id == 'parkett-schleifen-und-renovieren' %}class="uk-active"{% endif %}>
                            <a href="{{ 'parkett-schleifen-und-renovieren'|page }}">Parkett schleifen und renovieren</a>
                        </li>
                        <li {% if this.page.id == 'treppenrenovierung' %}class="uk-active"{% endif %}>
                            <a href="{{ 'treppenrenovierung'|page }}">Treppenrenovierung</a>
                        </li>
                    </ul>
                </li>
                <li {% if this.page.id == 'angebote' %}class="uk-active"{% endif %}>
                    <a href="{{ 'angebote'|page }}">Angebote</a>
                </li>
                <li {% if this.page.id == 'wir-ueber-uns' %}class="uk-active"{% endif %}>
                    <a href="{{ 'wir-ueber-uns'|page }}">Wir über uns</a>
                </li>
                <li {% if this.page.id == 'unsere-ausstellung-muenchen-forstenried' %}class="uk-active"{% endif %}>
                    <a href="{{ 'unsere-austellung-in-muenchen-forstenried'|page }}">Ausstellung München-Forstenried</a>
                </li>
                <li {% if this.page.id == 'galerie' %}class="uk-active"{% endif %}>
                    <a href="{{ 'galerie'|page }}">Galerie</a>
                </li>
                <li {% if this.page.id == 'kontaktieren-sie-uns' %}class="uk-active"{% endif %}>
                    <a href="{{ 'kontaktieren-sie-uns'|page }}">Kontakt</a>
                </li>
            </ul>

            <div>
                <div class="uk-grid-small uk-child-width-auto uk-flex-inline" uk-grid>
                    <div>
                        <a href="#modal-consult-arrange" class="uk-button uk-button-danger" data-uk-toggle>Beratung anfragen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# header for large screens #}
<div class="tm-header uk-visible@m" data-uk-header>
    <div class="tm-headerbar-default tm-headerbar tm-headerbar-top">
        <div class="uk-container uk-container-large uk-flex uk-flex-middle">
        <a href="{{ 'home'|page }}" class="uk-logo">
                <img src="{{ 'assets/images/artparkett-logo.svg'|theme }}" alt="Parkett Stelzl" width="220" height="61" data-uk-img>
            </a>
            <div class="uk-margin-auto-left">
                <div class="uk-grid-medium uk-child-width-auto uk-flex-middle" data-uk-grid>
                    <div>
                        <div class="uk-panel">
                            <div class="uk-margin-remove-last-child">
                                <ul class="uk-subnav uk-subnav-divider">
                                    <li data-uk-tooltip="title: In unserem Büro anrufen; pos: bottom">
                                        <a href="tel:0049896892177">
                                            <span data-uk-icon="icon: phone"></span>
                                            <span style="font-size: 12px;">Büro: <br>089 689 21 77</span>
                                        </a>
                                    </li>
                                    <li data-uk-tooltip="title: In unserer Ausstellung anrufen; pos: bottom">
                                        <a href="tel:00498974495130">
                                            <span data-uk-icon="icon: phone"></span>
                                            <span style="font-size: 12px;">Ausstellung: <br>089 744 95 130</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-panel">
                            <ul class="uk-iconnav">
                                <li>
                                    <a class="uk-search-toggle" href="#search-modal" data-uk-search-icon data-uk-toggle></a>
                                    <div id="search-modal" class="uk-modal-full" data-uk-modal>
                                        <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport>
                                            <button class="uk-modal-close-full" type="button" data-uk-close></button>
                                            <div class="uk-search uk-search-large">
                                                <form class='uk-search uk-search-large' action='/search/' method='get'>
                                                    <input type='search' id='search-query' name='q' class='uk-search-input uk-text-center' placeholder='Seite durchsuchen...' autofocus>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a data-uk-icon="icon: world"></a>
                                    <div data-uk-dropdown="mode: click">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class='uk-active'>
                                                <a class='lang-item Deutsch' hreflang='de' href='/'>Deutsch</a>
                                            </li>
                                            <li class='no-current'>
                                                <a class='lang-item Englisch' hreflang='en' href='/en/'>Englisch</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-uk-sticky="media: @m; cls-active: uk-navbar-sticky; sel-target: .uk-navbar-container;">
        <div class="uk-navbar-container">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle">
                <nav class="uk-navbar uk-flex-auto" data-uk-navbar="align: left; boundary: .tm-header . uk-navbar-container; container: .tm-header > [uk-sticky]; mode: click; dropbar:true;">
                    <div class="uk-navbar-left uk-flex-auto">
                        <ul class="uk-navbar-nav">
                            <li {% if this.page.id == 'home' %}class="uk-active"{% endif %}>
                                <a href="{{ 'home'|page }}">Home</a>
                            </li>
                            <li>
                                <a href='#'>Service <span data-uk-navbar-parent-icon></span></a>
                                <div class="uk-navbar-dropdown" pos="bottom-left" stretch="x" boundary=".tm-header .uk-navbar">
                                    <div class="uk-grid tm-grid-expand uk-grid-large uk-grid-margin-large" data-uk-grid>
                                        <div class="uk-width-3-4 uk-width-4-5@l">
                                            <div class="uk-margin-remove-vertical">
                                                <div class="uk-child-width-expand" data-uk-grid>
                                                    <div>
                                                        <ul class="uk-margin-remove-bottom uk-nav uk-nav-secondary">
                                                            <li class="el-item uk-active">
                                                                <a class="el-link" href="{{ 'fussboden-verlegen-vom-fachmann'|page }}">
                                                                    <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap" data-uk-grid>
                                                                        <div class="uk-width-auto">
                                                                            <img src="/demo/union-dental/images/icon-services-general-dentistry.svg" width="50" height="50" class="el-image" alt loading="lazy">
                                                                        </div>
                                                                         <div>Fussboden verlegen vom Fachmann<div class="uk-nav-subtitle">Hier finden Sie alles zum Thema "Fussboden neu verlegen vom Fachmann"</div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li class="el-item ">
                                                            <a class="el-link" href="{{ 'parkett-schleifen-und-renovieren'|page }}">
                                                                <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap" data-uk-grid>
                                                                    <div class="uk-width-auto">
                                                                        <img src="{{ 'assets/images/home/slider-450-eiche-lebhaft.jpg'|theme|resize(50, 50) }}" width="50" height="50" class="el-image" alt loading="lazy">
                                                                    </div>
                                                                    <div>Parkett schleifen und renovieren<div class="uk-nav-subtitle">Lorem ipsum dolor sit amet, consectetur adip iscing.</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="el-item ">
                                                        <a class="el-link" href="/joomla/themes/union-dental/services/cosmetic-dentistry">
                                                            <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap" data-uk-grid>
                                                                <div class="uk-width-auto">
                                                                    <img src="/demo/union-dental/images/icon-services-cosmetic-dentistry.svg" width="50" height="50" class="el-image" alt loading="lazy">
                                                                </div>
                                                                <div>Cosmetic Dentistry<div class="uk-nav-subtitle">Lorem ipsum dolor sit amet, consectetur adip iscing.</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="el-item ">
                                                        <a class="el-link" href="/joomla/themes/union-dental/services/implant-dentistry">
                                                            <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap" data-uk-grid>
                                                                <div class="uk-width-auto">
                                                                    <img src="/demo/union-dental/images/icon-services-implant-dentistry.svg" width="50" height="50" class="el-image" alt loading="lazy">
                                                                </div>
                                                                <div>
                                                                    Implant Dentistry<div class="uk-nav-subtitle">Lorem ipsum dolor sit amet, consectetur adip iscing.</div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="el-item ">
                                                        <a class="el-link" href="/joomla/themes/union-dental/services/general-dentistry" uk-scroll>

                                        <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap" uk-grid>            <div class="uk-width-auto"><img src="/demo/union-dental/images/icon-services-endodontics.svg" width="50" height="50" class="el-image" alt loading="lazy"></div>            <div>
                                                Endodontics                <div class="uk-nav-subtitle">Lorem ipsum dolor sit amet, consectetur adip iscing.</div>            </div>
                                        </div>


                                </a></li>
                                                            </ul>
                                                </div>


                                                <div>

                                        <ul class="uk-margin-remove-bottom uk-nav uk-nav-secondary">                                <li class="el-item ">
                                <a class="el-link" href="/joomla/themes/union-dental/services/digital-x-ray" uk-scroll>

                                        <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap" uk-grid>            <div class="uk-width-auto"><img src="/demo/union-dental/images/icon-services-dental-surgery.svg" width="50" height="50" class="el-image" alt loading="lazy"></div>            <div>
                                                Dental Surgery                <div class="uk-nav-subtitle">Lorem ipsum dolor sit amet, consectetur adip iscing.</div>            </div>
                                        </div>


                                </a></li>
                                                                            <li class="el-item ">
                                <a class="el-link" href="/joomla/themes/union-dental/services/cosmetic-dentistry" uk-scroll>

                                        <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap" uk-grid>            <div class="uk-width-auto"><img src="/demo/union-dental/images/icon-services-prophylaxis.svg" width="50" height="50" class="el-image" alt loading="lazy"></div>            <div>
                                                Prophylaxis                <div class="uk-nav-subtitle">Lorem ipsum dolor sit amet, consectetur adip iscing.</div>            </div>
                                        </div>


                                </a></li>
                                                                            <li class="el-item ">
                                <a class="el-link" href="/joomla/themes/union-dental/services/implant-dentistry" uk-scroll>

                                        <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap" uk-grid>            <div class="uk-width-auto"><img src="/demo/union-dental/images/icon-services-emergency-care.svg" width="50" height="50" class="el-image" alt loading="lazy"></div>            <div>
                                                Emergency Care                <div class="uk-nav-subtitle">Lorem ipsum dolor sit amet, consectetur adip iscing.</div>            </div>
                                        </div>


                                </a></li>
                                                                            <li class="el-item ">
                                <a class="el-link" href="/joomla/themes/union-dental/services/general-dentistry" uk-scroll>

                                        <div class="uk-grid-small uk-child-width-expand uk-flex-nowrap" uk-grid>            <div class="uk-width-auto"><img src="/demo/union-dental/images/icon-services-pediatric-dentistry.svg" width="50" height="50" class="el-image" alt loading="lazy"></div>            <div>
                                                Pediatric Dentistry                <div class="uk-nav-subtitle">Lorem ipsum dolor sit amet, consectetur adip iscing.</div>            </div>
                                        </div>


                                </a></li>
                                                            </ul>
                                                </div>


                                        </div>
                                </div></div>

                                <div class="uk-width-1-4 uk-width-1-5@l">







                                <div class="uk-panel uk-margin-remove-first-child uk-margin">


                                                <a href="/joomla/themes/union-dental/contact"><picture>
                                <source type="image/webp" srcset="/joomla/templates/yootheme/cache/b6/doctors-01-b6cddaa2.webp 310w, /joomla/templates/yootheme/cache/38/doctors-01-38c4e262.webp 620w" sizes="(min-width: 310px) 310px">
                                <img src="/joomla/templates/yootheme/cache/d3/doctors-01-d328619c.jpeg" width="310" height="310" class="el-image uk-border-rounded" alt loading="lazy">
                                </picture></a>



                                                <div class="el-title uk-h5 uk-margin-top uk-margin-remove-bottom">                        <a href="/joomla/themes/union-dental/contact" class="uk-link-reset">Do you have questions or need a consultation?</a>                    </div>






                                                <div class="uk-margin-top"><a href="/joomla/themes/union-dental/contact" class="el-link uk-button uk-button-default uk-button-small">Contact Us</a></div>




                                </div>




                                </div></div></div>
                            </li>
                            <li {% if this.page.id == 'angebote' %}class="uk-active"{% endif %}>
                                <a href="{{ 'angebote'|page }}">Angebote</a>
                            </li>
                            <li {% if this.page.id == 'wir-ueber-uns' %}class="uk-active"{% endif %}>
                                <a href="{{ 'wir-ueber-uns'|page }}">Wir über uns</a>
                            </li>
                            <li {% if this.page.id == 'unsere-ausstellung-muenchen-forstenried' %}class="uk-active"{% endif %}>
                                <a href="{{ 'unsere-ausstellung-in-muenchen-forstenried'|page }}">Ausstellung</a>
                            </li>
                            <li {% if this.page.id == 'galerie' %}class="uk-active"{% endif %}>
                                <a href="{{ 'galerie'|page }}">Galerie</a>
                            </li>
                            <li {% if this.page.id == 'kontaktieren-sie-uns' %}class="uk-active"{% endif %}>
                                <a href="{{ 'kontaktieren-sie-uns'|page }}">Kontakt</a>
                            </li>
                        </ul>
                        <div class="uk-margin-auto-left uk-navbar-item">
                            <div class="uk-margin-remove-last-child custom">
                                <a href="#modal-consult-arrange" class="uk-button uk-button-primary" data-uk-toggle>Beratung anfragen</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div id="modal-consult-arrange" class="uk-modal-container" data-uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Beratung anfragen</h2>
        </div>
        <div class="uk-modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Abbrechen</button>
            <button class="uk-button uk-button-primary" type="button">Absenden</button>
        </div>
    </div>
</div>
