description = "Meta Partials"
==
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="turbo-visit-control" content="disable" />

{# Title Tag #}
<title>{% if this.page.meta_title %}{{ this.page.meta_title }}{% else %}{{ this.page.title }}{% endif %} | Parkett Stelzl</title>

{# SEO Meta Tags #}
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="description" content="{{ this.page.meta_description }}">

{# Favicons #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/icon.png'|theme|resize(180) }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/images/icon.png'|theme|resize(32) }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/images/icon.png'|theme|resize(16) }}">

<link rel="stylesheet" href="{{ 'assets/dist/css/styles.css'|theme }}" />

{% styles %}
