description = "Header Partial"
==
{# header for small screens #}
<div class="tm-header-mobile uk-hidden@m">
    <div data-uk-sticky show-on-up animation="uk-animation-slide-top" cls-active="uk-navbar-sticky" sel-target=".uk-navbar-container">
        <nav class="uk-navbar-container uk-container" data-uk-navbar="mode: click">
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" href="#tmoffcanvas" data-uk-toggle>
                    <div data-uk-navbar-toggle-icon></div>
                </a>
            </div>
            <div class="uk-navbar-center">
                <a href="{{ '/'|app }}" class='uk-navbar-item uk-logo'>
                    <img src="{{ 'assets/images/artparkett-logo.svg'|theme }}" alt="Parkett Stelzl" width="180" height="50" data-uk-img>
                </a>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a data-uk-icon="icon: world"></a>
                        <div data-uk-dropdown="mode: click">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class='uk-active'>
                                    <a class='lang-item Deutsch' hreflang='de' href='/'>Deutsch</a>
                                </li>
                                <li class='no-current'>
                                    <a class='lang-item Englisch' hreflang='en' href='/en/'>Englisch</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="tmoffcanvas" data-uk-offcanvas="mode: push; overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">

            <button class="uk-offcanvas-close uk-close-large" type="button" uk-close uk-toggle="cls: uk-close-large; mode: media; media: @s"></button>

            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical" uk-nav>
                <li {% if this.page.id == 'home' %}class="uk-active"{% endif %}>
                    <a href="{{ '/'|app }}">Home</a>
                </li>
                <li class="uk-parent">
                    <a href="#">Service <span uk-nav-parent-icon></span></a>
                    <ul class="uk-nav-sub">
                        <li>
                            <a href="#">Fußboden verlegen vom Fachmann</a>
                        </li>
                        <li>
                            <a href="#">Parkett schleifen und renovieren</a>
                        </li>
                        <li><a href="#">Treppenrenovierung</a></li>
                    </ul>
                </li>
                <li {% if this.page.id == 'angebote' %}class="uk-active"{% endif %}>
                    <a href="{{ 'angebote'|app }}">Angebote</a>
                </li>
                <li {% if this.page.id == 'wir-ueber-uns' %}class="uk-active"{% endif %}>
                    <a href="{{ 'wir-ueber-uns'|app }}">Wir über uns</a>
                </li>
                <li {% if this.page.id == 'unsere-ausstellung-muenchen-forstenried' %}class="uk-active"{% endif %}>
                    <a href="{{ 'unsere-austellung-in-muenchen-forstenried'|app }}">Ausstellung München-Forstenried</a>
                </li>
                <li {% if this.page.id == 'galerie' %}class="uk-active"{% endif %}>
                    <a href="{{ 'galerie'|app }}">Galerie</a>
                </li>
                <li {% if this.page.id == 'kontaktieren-sie-uns' %}class="uk-active"{% endif %}>
                    <a href="{{ 'kontaktieren-sie-uns'|app }}">Kontakt</a>
                </li>
            </ul>

            <div>
                <div class="uk-grid-small uk-child-width-auto uk-flex-inline" uk-grid>
                    <div>
                        <a href="#modal-consult-arrange" class="uk-button uk-button-danger" data-uk-toggle>Beratung anfragen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# header for large screens #}
<div class="tm-header uk-visible@m" data-uk-header>
    <div class="tm-headerbar-default tm-headerbar tm-headerbar-top">
        <div class="uk-container uk-container-large uk-flex uk-flex-middle">
        <a href="{{ '/'|app }}" class="uk-logo">
                <img src="{{ 'assets/images/artparkett-logo.svg'|theme }}" alt="Parkett Stelzl" width="220" height="61" data-uk-img>
            </a>
            <div class="uk-margin-auto-left">
                <div class="uk-grid-medium uk-child-width-auto uk-flex-middle" data-uk-grid>
                    <div>
                        <div class="uk-panel">
                            <div class="uk-margin-remove-last-child">
                                <ul class="uk-subnav uk-subnav-divider">
                                    <li data-uk-tooltip="title: In unserem Büro anrufen; pos: bottom">
                                        <a href="tel:0049896892177">
                                            <span data-uk-icon="icon: phone"></span>
                                            <span style="font-size: 12px;">Büro: <br>089 689 21 77</span>
                                        </a>
                                    </li>
                                    <li data-uk-tooltip="title: In unserer Ausstellung anrufen; pos: bottom">
                                        <a href="tel:00498974495130">
                                            <span data-uk-icon="icon: phone"></span>
                                            <span style="font-size: 12px;">Ausstellung: <br>089 744 95 130</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-panel">
                            <ul class="uk-iconnav">
                                <li>
                                    <a class="uk-search-toggle" href="#search-modal" data-uk-search-icon data-uk-toggle></a>
                                    <div id="search-modal" class="uk-modal-full" data-uk-modal>
                                        <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport>
                                            <button class="uk-modal-close-full" type="button" data-uk-close></button>
                                            <div class="uk-search uk-search-large">
                                                <form class='uk-search uk-search-large' action='/search/' method='get'>
                                                    <input type='search' id='search-query' name='q' class='uk-search-input uk-text-center' placeholder='Seite durchsuchen...' autofocus>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a data-uk-icon="icon: world"></a>
                                    <div data-uk-dropdown="mode: click">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            <li class='uk-active'>
                                                <a class='lang-item Deutsch' hreflang='de' href='/'>Deutsch</a>
                                            </li>
                                            <li class='no-current'>
                                                <a class='lang-item Englisch' hreflang='en' href='/en/'>Englisch</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-uk-sticky="media: @m; cls-active: uk-navbar-sticky; sel-target: .uk-navbar-container;">
        <div class="uk-navbar-container">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle">
                <nav class="uk-navbar uk-flex-auto" data-uk-navbar="align: left; boundary: .tm-header . uk-navbar-container; container: .tm-header > [uk-sticky]; mode: click; dropbar:true;">
                    <div class="uk-navbar-left uk-flex-auto">
                        <ul class="uk-navbar-nav">
                            <li {% if this.page.id == 'home' %}class="uk-active"{% endif %}>
                                <a href="{{ '/'|app }}">Home</a>
                            </li>
                            <li>
                                <a href='#'>Service <span data-uk-navbar-parent-icon></span></a>
                                <div class='uk-navbar-dropdown'>
                                    <ul class='uk-nav uk-navbar-dropdown-nav'>
                                        <li>
                                            <a href='/fussboden-verlegen-vom-fachmann/'>Fussboden verlegen vom Fachmann</a>
                                        </li>
                                        <li>
                                            <a href='/parkett-schleifen-und-renovieren/'>Parkett schleifen und renovieren</a>
                                        </li>
                                        <li>
                                            <a href='/treppenrenovierung/'>Treppenrenovierung</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li {% if this.page.id == 'angebote' %}class="uk-active"{% endif %}>
                                <a href="{{ 'angebote'|app }}">Angebote</a>
                            </li>
                            <li {% if this.page.id == 'wir-ueber-uns' %}class="uk-active"{% endif %}>
                                <a href="{{ 'wir-ueber-uns'|app }}">Wir über uns</a>
                            </li>
                            <li {% if this.page.id == 'unsere-ausstellung-muenchen-forstenried' %}class="uk-active"{% endif %}>
                                <a href="{{ 'unsere-ausstellung-in-muenchen-forstenried'|app }}">Ausstellung</a>
                            </li>
                            <li {% if this.page.id == 'galerie' %}class="uk-active"{% endif %}>
                                <a href="{{ 'galerie'|app }}">Galerie</a>
                            </li>
                            <li {% if this.page.id == 'kontaktieren-sie-uns' %}class="uk-active"{% endif %}>
                                <a href="{{ 'kontaktieren-sie-uns'|app }}">Kontakt</a>
                            </li>
                        </ul>
                        <div class="uk-margin-auto-left uk-navbar-item">
                            <div class="uk-margin-remove-last-child custom">
                                <a href="#modal-consult-arrange" class="uk-button uk-button-primary" data-uk-toggle>Beratung anfragen</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div id="modal-consult-arrange" class="uk-modal-container" data-uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Beratung anfragen</h2>
        </div>
        <div class="uk-modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Abbrechen</button>
            <button class="uk-button uk-button-primary" type="button">Absenden</button>
        </div>
    </div>
</div>
