description = "CTA Home"
==
<div class="uk-section uk-section-muted">
    <div class="uk-container uk-container-expand">
        <div class="uk-grid-match uk-child-width-1-2@m uk-grid-collapse" data-uk-grid data-uk-height-match="target: > div > div > div > div > .uk-card">
            <div>
                <div class="uk-flex">
                    <div class="uk-tile uk-width-1-1 uk-tile-xlarge uk-flex uk-flex-middle uk-background-norepeat uk-background-cover uk-background-center-center" data-src="{{ 'assets/images/home/bg/wpc-auf-balkon.jpeg'|theme }}" data-sizes="(max-aspect-ratio: 1280/1280) 100vh" data-uk-img>
                        <div class="uk-panel uk-width-1-1">
                            <div class="uk-card uk-card-primary uk-card-large uk-card-body uk-margin-remove-first-child uk-width-xlarge@m uk-margin-small uk-width-large uk-margin-auto uk-text-center">
                                <div class="uk-h6 uk-margin-small-top uk-margin-remove-bottom">Außenbeläge</div>
                                <h2 class="uk-heading-medium uk-margin-small-top uk-margin-remove-bottom">Terrasse oder Balkon</h2>
                                <div class="uk-panel uk-margin-top">Jetzt ist die Jahreszeit um Ihren Balkon oder Terrasse zu verschönern. Machen Sie alles bereit für die warme Jahreszeit um unvergessliche Stunden zu verbringen.</div>
                                <div class="uk-margin-large-top">
                                     <a href="kontaktieren-sie-uns" class="uk-button uk-button-secondary">Kontakt aufnehmen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-flex">
                    <div class="uk-tile uk-width-1-1 uk-tile-xlarge uk-flex uk-flex-middle uk-background-norepeat uk-background-cover uk-background-center-center" data-src="{{ 'assets/images/home/bg/purple-yoga.jpeg'|theme }}" data-sizes="(max-aspect-ratio: 1280/1280) 100vh" data-uk-img>
                        <div class="uk-panel uk-width-1-1">
                            <div class="uk-card uk-card-primary uk-card-large uk-card-body uk-margin-remove-first-child uk-width-xlarge@m uk-margin-small uk-width-large uk-margin-auto uk-text-center">
                                <div class="uk-h6 uk-margin-small-top uk-margin-remove-bottom">Kleinere Arbeiten</div>
                                <h2 class="uk-heading-medium uk-margin-small-top uk-margin-remove-bottom">Nur wenig m²</h2>
                                <div class="uk-panel uk-margin-top">Kein Problem! Gerne übernehmen wir auch flächenmässig kleinere Arbeiten. Zögern Sie nicht uns um ein Angebot zu fragen! Egal ob Neuverlegung oder Renovierungsarbeiten.</div>
                                <div class="uk-margin-large-top">
                                    <a href="kontaktieren-sie-uns" class="uk-button uk-button-secondary">Kontakt aufnehmen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
