description = "Intro Homepage"
==
<?
function onStart()
{

}
?>
==
<div class="uk-section uk-section-muted uk-padding-remove-vertical">
    <div class="uk-container uk-container-large uk-container-expand-right">
        <div class="tm-grid-expand uk-grid-collapse" data-uk-grid>
            <div class="uk-grid-item-match uk-width-1-3@m">
                <div class="uk-tile uk-tile-small uk-flex uk-flex-middle">
                    <div class="uk-panel uk-width-1-1">
                        <div class="uk-h6 uk-text-primary uk-text-left@m uk-text-center">Parkett- und Bodenleger aus München</div>
                        <h1 class="uk-position-relative uk-margin-remove-vertical uk-width-medium@m uk-text-left@m uk-text-center">Ihr Partner für Ihr Fußboden-projekt</h1>
                    </div>
                </div>
            </div>
            <div class="uk-grid-item-match uk-width-2-3@m">
                <div class="uk-panel uk-width-1-1">
                    <div class="uk-visible@l uk-position-absolute uk-width-1-1" style="left: -170px;">
                        <img src="{{ 'assets/images/home-shape-01.svg'|theme }}" alt="Shape" width="170" height="170" data-uk-svg>
                    </div>
                    <div class="uk-margin uk-margin-remove-top uk-text-right uk-container-item-padding-remove-right">
                        <div class="js-slideshow-animation" data-uk-slideshow="ratio: 5:3">
                            <div class="uk-position-relative uk-visible-toggle uk-light">
                                <ul class="uk-slideshow-items">
                                    <li>
                                        <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                                            <img src="{{ 'assets/images/home/slider-kernesche.jpeg'|theme }}" alt="Charisma Kernesche" width="1920" height="1081" data-uk-cover>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                                            <img src="{{ 'assets/images/home/slider-450-eiche-lebhaft.jpg'|theme }}" alt="WP 450 Eiche lebhaft" width="1920" height="1081" data-uk-cover>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                                            <img src="{{ 'assets/images/home/slider-einblatt-eiche-auster.jpg'|theme }}" alt="Einblatt Eiche Auster" width="1920" height="1081" data-uk-cover>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                                            <img src="{{ 'assets/images/home/slider-strip-eiche-savanne.jpg'|theme }}" alt="WP Strip Eiche Savanne" width="1920" height="1081" data-uk-cover>
                                        </div>
                                    </li>
                                </ul>
                                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous data-uk-slideshow-item="previous"></a>
                                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next data-uk-slideshow-item="next"></a>
                            </div>
                            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin uk-margin-top"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
