description = "Suppliers"
==
<section class="uk-section uk-section-large uk-section-default">
    <div class="uk-container uk-container-small uk-text-center">
        <div class="uk-width-1-1@m">
            <div class="uk-margin-medium uk-width-xlarge uk-margin-auto uk-text-center mb40">
                <h3 class="uk-h6 uk-text-primary uk-margin-top-remove">Hersteller in unserem Sortiment</h3>
            </div>
        </div>
    </div>
    <div class="uk-section uk-section-small">
        <div class="uk-container uk-container-small">
            <div data-uk-slider>
                <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m" data-uk-grid data-uk-margin>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.adlerparkett.com/de/" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/adler-parkett.svg'|theme }}" alt="Adler Parkett bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Website besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.admonter.eu/de/home/" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/admonter.svg'|theme }}" alt="Admonter bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.bawart.at" rel="noopener noreferrer" target="_blank">
                                    <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/bawart.svg'|theme }}" alt="Bawart Parkett bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://berger-seidle.de" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/berger-seidle.svg'|theme }}" alt="Berger Seidle bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.bona.com/de/" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/bona.svg'|theme }}" alt="Bona bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.geiger-gh.de/index.php/de/" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/geiger-grosshandel.svg'|theme }}" alt="Geiger bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.haro.com/de/index.php" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/haro-parkett.svg'|theme }}" alt="Haro Parkett bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.hinterseer.com" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/hinterseer-parkett.svg'|theme }}" alt="Hinterseer Parkett bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.jab.de" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/jab-anstoetz.svg'|theme }}" alt="Jab Anstoetz bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.osmo.de" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/osmo.svg'|theme }}" alt="Osmo bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.project-floors.com" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/project-floors.svg'|theme }}" alt="Project Floors bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.quick-step.at/" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/quick-step.svg'|theme }}" alt="Quick Step bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.scheucherparkett.at/de/" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/scheucher-parkett.svg'|theme }}" alt="Scheucher Parkett bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://stoeckl.com" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/stoeckl-parkett.svg'|theme }}" alt="Stöckl Parkett bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.tretford.eu" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/tretford-teppich.svg'|theme }}" alt="Tretford Teppich bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-inline-clip uk-transition-toggle uk-box-shadow-medium">
                            <a href="https://www.weitzer-parkett.com" rel="noopener noreferrer" target="_blank">
                                <img class="uk-transition-scale-up uk-transition-opaque" data-src="{{ 'assets/images/home/suppliers/weitzer-parkett.svg'|theme }}" alt="Weitzer Parkett bei Parkett Stelzl" width="100%" height="100%" data-uk-img>
                                <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
                                    <p class="uk-text-small uk-text-center uk-margin-remove">Webseite besuchen</p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="uk-margin-large-top">
                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                </div>
            </div>
        </div>
    </div>
</section>
